[package]
authors = ["omnect@conplement.de"]
description = "WebService providing access to omnect device features."
edition = "2021"
homepage = "https://www.omnect.io/home"
license = "MIT OR Apache-2.0"
name = "omnect-ui"
readme = "README.md"
repository = "git@github.com:omnect/omnect-ui.git"
version = "0.9.2"
build = "src/build.rs"

[dependencies]
actix-files = { version = "0.6", default-features = false }
actix-multipart = { version = "0.7", default-features = false, features = [
  "tempfile",
  "derive"
]}
actix-rt = { version = "2.10", default-features = false }
actix-session = { version = "0.10.1", features = ["cookie-session"] }
actix-web = { version = "4.9", default-features = false, features = [
  "macros",
  "rustls-0_23",
] }
actix-web-httpauth = { version = "0.8", default-features = false }
anyhow = { version = "1.0", default-features = false }
env_logger = { version = "0.11", default-features = false }
http-body-util = { version = "0.1", default-features = false }
hyper = { version = "1.3", default-features = false, features = [
  "client",
  "http1",
] }
hyper-util = { version = "0.1", default-features = false, features = ["tokio"] }
jwt-simple = { version = "0.12", default-features = false, features = [
  "optimal",
] }
log = { version = "0.4", default-features = false }
log-panics = { version = "2.0", default-features = false, features = [
  "with-backtrace",
] }
rustls = { version = "0.23", default-features = false, features = [
  "aws_lc_rs",
  "std",
  "tls12",
] }
rustls-pemfile = { version = "2.2", default-features = false, features = [
  "std",
] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1.0", default-features = false, features = [
  "raw_value",
] }
serde_repr = { version = "0.1", default-features = false }
tokio = { version = "1.0", default-features = false, features = [
  "macros",
  "net",
  "process",
] }
uuid = { version = "1.16", default-features = false, features = [
  "v4",
] }
argon2 = { version = "0.5", default-features = false, features = ["password-hash", "alloc"] }
rand_core = { version = "0.6", default-features = false, features = ["std"] }

[features]
mock = []
