[
  {
    "url": "https://localhost:%%CENTRIFUGO_HTTP_SERVER_PORT%%/api/publish",
    "headers": [
      {
        "name": "Content-Type",
        "value": "application/json" 
      },
      {
        "name": "X-API-Key",
        "value": "%%CENTRIFUGO_HTTP_API_KEY%%" 
      }
    ]
  }
]