CENTRIFUGO_API_KEY="%%CENTRIFUGO_API_KEY%%"
CENTRIFUGO_PORT="8000"
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY="%%CENTRIFUGO_TOKEN_HMAC_SECRET_KEY%%"
LOGIN_USER="%%USER%%"
LOGIN_PASSWORD="%%PASSWORD%%"
RUST_LOG="info"
UI_PORT="1977"
