[Unit]
Description=omnect ui
After=time-sync.target docker.service omnect-device-service.service
Before=first-boot-complete.target
Wants=first-boot-complete.target docker.service omnect-device-service.service
ConditionFirstBoot=yes

[Service]
Type=oneshot

EnvironmentFile=-/etc/omnect/omnect-ui.env

ExecStart=/bin/bash -c 'FULL_TAG=$(docker load < /mnt/factory/oci_images/omnect-ui.tar.gz | grep "Loaded image: " | cut -d ':' -f2) ; \
                        docker run -d --restart always --name omnect-ui \
                            --user $(id -u omnect_device_socket):$(id -g omnect_device_socket) \
                            --mount type=bind,source=/run/omnect-device-service/api.sock,target=/socket/api.sock \
                            -v /mnt/cert/priv:/cert \
                            -p ${UI_PORT}:${UI_PORT} \
                            -p ${CENTRIFUGO_PORT}:${CENTRIFUGO_PORT} \
                            -e UI_PORT=${UI_PORT} \
                            -e CENTRIFUGO_ALLOW_HISTORY_FOR_CLIENT=true \
                            -e CENTRIFUGO_ALLOW_SUBSCRIBE_FOR_CLIENT=true \
                            -e CENTRIFUGO_ALLOWED_ORIGINS=* \
                            -e CENTRIFUGO_API_KEY=${CENTRIFUGO_API_KEY} \
                            -e CENTRIFUGO_HISTORY_SIZE=1 \
                            -e CENTRIFUGO_HISTORY_TTL=720h \
                            -e CENTRIFUGO_PORT=${CENTRIFUGO_PORT} \
                            -e CENTRIFUGO_TLS=true \
                            -e CENTRIFUGO_TLS_CERT=/cert/device_id_cert.pem \
                            -e CENTRIFUGO_TLS_KEY=/cert/device_id_cert_key.pem \
                            -e CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=${CENTRIFUGO_TOKEN_HMAC_SECRET_KEY} \
                            -e LOGIN_USER=${LOGIN_USER} \
                            -e LOGIN_PASSWORD=${LOGIN_PASSWORD} \
                            -e SOCKET_PATH=/socket/api.sock \
                            -e SSL_CERT_PATH=/cert/device_id_cert.pem \
                            -e SSL_KEY_PATH=/cert/device_id_cert_key.pem \
                        $${FULL_TAG}'

RemainAfterExit=true

[Install]
WantedBy=multi-user.target